__pycache__/
*.pyc
*.pyo
*.pyd
.Python

env/
.env/
.venv/
venv/
.tox/

build/
dist/
*.egg-info/

.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/

*.log
coverage.*
htmlcov/

artifacts/
experiments/
checkpoints/
lightning_logs/
wandb/

.idea/
.vscode/
.DS_Store
Thumbs.db

*.zip

data/raw/*.csv
data/processed/*
!data/processed/.gitkeep
!data/raw/.gitkeep
